# Virtual Environment
venv/

# Python cache
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Anaconda
anaconda_projects/

# Logs
*.log

# Windows
Thumbs.db

# Mac
.DS_Store

# Generated data
raw/
clean/
anaconda_projects/